/* .img-custom{
    width: 300px;
    height: auto ;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    background-color: #343a40;
    color: white;
    margin-top: auto;
}

/* footer { */
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left; /* Alineación del texto a la izquierda */
/* padding-left: 20px; Ajusta el espacio desde el borde izquierdo */
    /* background-color: #343a40; Color de fondo del footer */
    /* color: white; Color del texto */ 
/* } */